## Data load

In [1]:
# import pandas
import pandas as pd

In [4]:
# load dataset
df = pd.read_csv('./data/student_data.csv')

## DF exploration

In [7]:
# shape
df.shape

(200015, 10)

In [9]:
# central tendency statistics
df.describe()

,Student ID,Year of Admission,Expected Year of Graduation,Current Semester,Fees,Discount on Fees
count,200015.000000,200015.000000,200015.000000,200015.000000,200015.000000,200015.000000
mean,549373.714881,2018.997670,2019.995160,2.499003,125092.093953,12484.212314
std,259362.415174,2.002377,1.997768,1.117806,43288.390595,8788.315935
min,100001.000000,2016.000000,2017.000000,1.000000,50000.000000,0.000000
25%,325315.000000,2017.000000,2018.000000,1.000000,87639.000000,5383.000000
50%,548863.000000,2019.000000,2020.000000,2.000000,125222.000000,10792.000000
75%,774189.000000,2021.000000,2022.000000,3.000000,162596.000000,18154.000000
max,999997.000000,2022.000000,2023.000000,4.000000,200000.000000,39865.000000

In [12]:
# column types
df.dtypes

Student ID                      int64
Student Name                   object
Date of Birth                  object
Field of Study                 object
Year of Admission               int64
Expected Year of Graduation     int64
Current Semester                int64
Specialization                 object
Fees                            int64
Discount on Fees                int64
dtype: object

In [14]:
# information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200015 entries, 0 to 200014
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Student ID                   200015 non-null  int64
 1   Student Name                 200007 non-null  object
 2   Date of Birth                200015 non-null  object
 3   Field of Study               200015 non-null  object
 4   Year of Admission            200015 non-null  int64
 5   Expected Year of Graduation  200015 non-null  int64
 6   Current Semester             200015 non-null  int64
 7   Specialization               200015 non-null  object
 8   Fees                         200015 non-null  int64
 9   Discount on Fees             200015 non-null  int64
dtypes: int64(6), object(4)
memory usage: 15.3+ MB